<!-- views/partials/navbar.ejs -->
<nav>
  <a href="/">Home</a>
  <a href="/courses">Courses</a>
  <a href="/courses/create">Add Course</a>
  <a href="/pages">Pages</a>
  <a href="/pages/create">Add Page</a>
</nav>
